
<div class="row">
<div class="col-6 pt-2 px-3">
<a class="d-inline-block text-decoration-none fw-600 fz-17 bg-ghost-white shadow-lg p-2 px-4" href="https://wa.me/447368545556" aria-label="Chat on WhatsApp" style="color:darkgreen;"><strong>
Chat on WhatsApp</strong></a>
</div>
<div class="col-6 pt-2 px-3">
<a class="d-inline-block text-decoration-none fw-600 fz-17  bg-ghost-white shadow-lg p-2 px-4" href="https://m.me/422681507586182" aria-label="Chat on Messenger" style="color:darkblue;">
<strong>Chat on Messenger</strong></a>
</div>
</div>
